"""{{ project_name }} configuration settings."""

version = "0.1.0"
PACKAGE_NAME = {{ project_name }}
PACKAGE_VERSION = version
PACKAGE_ORGANIZATION = {{ author_organization }}
PACKAGE_AUTHOR = {{ author_fullname }}
LOG_LEVEL = "INFO"
